@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&family=Inter:wght@400;500;600&family=Noto+Sans+SC:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Plus Jakarta Sans", "Noto Sans SC", sans-serif;
  --font-body: "Inter", "Noto Sans SC", sans-serif;
  
  --color-primary: #6b38d4;
  --color-primary-container: #8455ef;
  --color-primary-fixed: #e9ddff;
  --color-secondary: #006b5f;
  --color-secondary-container: #62fae3;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #494454;
  --color-background: #f7f9fb;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

.font-headline {
  font-family: var(--font-headline);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
